body{
    font-size:20px;
    line-height:1.5;
    padding:0;
    margin:0;
    background-color: lightsteelblue;
}

.container-fluid{
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding:0;
   
    }


ul{
    margin:0;
    padding:0;
}

header .cart-btn {
    position: relative;
    cursor: pointer;
    padding: 0px 50px;
  }

header .cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0px 40px;
    border-radius: 30%;
    color: var(--mainWhite);
  }



#showcase .jumbotron{
    background: url(sky.jpg) center no-repeat;
    background-size: cover;
    margin:0px;
    border-radius: 0px;
}


    
.jumbotron h1{
    font-family:'Bebas Neue', cursive;
    margin-top: 0px;
    font-size: 60px;
    margin-bottom: 0px;
    color:black;
}

.jumbotron p{
    font-family:'Bebas Neue', cursive;
    font-size:20px;
    color:darkblue
}

#newsletter{
    margin-bottom: 1cm;
    height: 30px;
    color: darkblue;

 }

#article .col-md-12{
    font-size: 40px;
    text-decoration: underline;
    margin-top: 15px;
    text-align: center;
    padding: 0mm;
}

.float-right .cart-items{
    color:white;
}

.col-md-12 h3{
    margin-top: 15px;
    text-align: center;
    padding: 0mm;
}
 
#article .col-md-4{
   margin-top: -10px;
   padding: 5mm; 
   font-size: 16px;
   padding-left: 1cm;
 }

.col-md-4 h3{
    font-size: 20px;
    margin-left: 15px;
}

.col-md-4 img{
 border-radius: 10px;
}


.col-md-4 p{
    margin-left: 15px;
}


 #article .items{
    margin-top: 0.5cm;
    border-radius: 20px;
    max-width: 100%;
    position: relative;
    padding: 0.5cm;
}


#article button{
    background-color: lightseagreen;
    position: absolute;
    cursor: pointer;
    left: 45px;
    top: 220px;
    border: none;
    border-radius: 5px;
}

footer{
    padding:2px;
    margin-top: 2px;
    color: black;
    background-color:orange;
    text-align: center;
}

#main h4{
    font-size: 18px;
    color: darkblue;
    text-decoration: underline darkblue;
    max-height: 0.5cm;
}

aside#sidebar{
    float: right;
    width: 50%;
    margin-top: 10px;
   
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding:10px;
}



article#main-col{
    float:left;
    width:65%;

}

@media(max-width: 768px){
            header .banner,
            #newsletter .wonder,
            #article .row,
            article#main-col,
            aside#sidebar
            {
            float: none;
            text-align:center;
            width:100%;
            }


        

        #newsletter .wonder, #newsletter li{
            display:block;
            width:100%;

        }

        #newsletter form input[type="メール"], .quote input, .quote textarea{
            width:100%;
            margin-bottom:5px;

        }

        #article button{
            display:block;


        }


    }
